rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if
          request.auth != null && request.auth.uid == userId;
    }
    match /projects/{projectId} {
    	allow read, delete: if resource.data.ownerUid == request.auth.uid;
      allow update: if resource.data.ownerUid == request.auth.uid && request.resource.data.ownerId == resource.data.ownerId;
			allow create: if request.auth.uid != null && request.resource.data.ownerId != request.auth.uid;
    }
  }
}